{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}">
    <title>Image list</title>
</head>
<body>
    <h1>Images</h1>
    <ul>
        {% for image in images %}
            <li>
                <img src="{{ image.image }}" alt="Image" width="200">
            </li>
        {% endfor %}
    </ul>
    <script src="{% static 'frontend/scripts.js' %}"></script>
</body>
</html>